<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="thumb zoom">

    <a href="http://www.totaluniforms.com.au/office/" class="featured-image-link">
      <div class="thumb-image">
        <div class="featured-image" style="background-image: url(assets/office.jpg)"></div>
      </div>
    </a>


    <div class="thumb-info">
      <div class="thumb-title">
        <div class="thumb-name">
          <h2>
            <a href="http://www.totaluniforms.com.au/office/">Office</a>
          </h2>
        </div>
      </div>

      <div class="clear"></div>
    </div>
  </div>
</div>