<div>
  <div class="thumb zoom">

    <a class="featured-image-link">
      <div class="thumb-image">
        <div class="featured-image" [ngStyle]="{ 'background-image': 'url(assets/' + category.image + ')' }"></div>
      </div>
    </a>


    <div class="thumb-info">
      <div class="thumb-title">
        <div class="thumb-name">
          <h2>
            <a>{{category.name}}</a>
          </h2>
        </div>
        <div *ngIf="category.brand && category.code" class="thumb-cat">
          <h5>{{category.code}} - {{category.brand}}</h5>
        </div>
      </div>

      <div class="clear"></div>
    </div>
  </div>
</div>