<div class="container">
  <div class="row">

    <div class="panel panel-default">
      <div class="panel-body">
        <p><strong>Address:</strong> 2B Jensen St, Geraldton WA 6550<br>
          <strong>Email:</strong> <a href="mailto:customerservice@totaluniforms.com.au">customerservice@totaluniforms.com.au</a><br>
          <strong>Phone:</strong> <a href="tel:0899653101">(08) 9965 3101</a><br>
          <strong>Opening&nbsp;Hours:</strong>
        </p>

        <p style="padding-left: 30px;">
          <strong>Monday</strong> 8:30am–5pm<br>
          <strong>Tuesday</strong> 8:30am–5pm<br>
          <strong>Wednesday</strong> 8:30am–5pm<br>
          <strong>Thursday</strong> 8:30am–5pm<br>
          <strong>Friday</strong> 8:30am–5pm<br>
          <strong>Saturday</strong> 9am–1pm<br>
          <strong>Sunday</strong> Closed
        </p>
      </div>
    </div>
  </div>
</div>