<div class="container">
  <div class="row">
    <ul class="breadcrumb">
      <li><a routerLink="/"><i class="glyphicon glyphicon-home"></i></a></li>
      <li><a routerLink="/{{category}}" class="active">{{category}}</a></li>
    </ul>
  </div>

  <div class="row">
    <h4 *ngIf="!products.length">Sorry... No products in this category yet!</h4>
    <div *ngFor="let product of products" class="col-sm-4 col-xs-6">
      <div class="product-card">
        <a routerLink="/{{category}}/{{product.code}}">
          <app-card [category]="product"></app-card>
        </a>
      </div>
    </div>
  </div>
</div>