$background-colour: #181818;

body {
    background-color: $background-colour;
}

.clickable {
    cursor: pointer;
}

.full::after {
  content: "";
  background-image: url('assets/background checker plate.png');
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.masthead {
    padding-top: 20px;
    padding: 10px;
}

.masthead img {
    max-height: 50px;
    max-width: 90%;
}

[hidden] { display: none !important;}