<div class="container">
  <div class="col-xs-12">
    <ul class="breadcrumb">
      <li><a routerLink="/"><i class="glyphicon glyphicon-home"></i></a></li>
      <li><a routerLink="/{{category}}">{{category}}</a></li>
      <li><a routerLink="/{{category}}/{{product.code}}" class="active">{{product.name}}</a></li>
    </ul>
  </div>
  
  <div class="col-sm-6 col-xs-12">
    <img src="assets/{{product.image}}" style="max-width: 100%">
  </div>

  <div class="col-sm-6 col-xs-12">
    <h2>{{product.name}}</h2>
    <h4>{{product.description}}</h4>
  </div>  
</div>