<div class="masthead hidden-xs">
  <div class="container">

    <div class="row">
      <a routerLink="/">
        <img src="assets/total uniforms logo.png">
      </a>
    </div>
  </div>
</div>
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
      <a class="navbar-brand visible-xs" routerLink="/">
        <img src="assets/total uniforms logo.png">
      </a>
      <form class="navbar-form pull-left" role="search">
        <div class="input-group">
          <input #searchText (keyup.enter)="search(searchText)" type="text" class="form-control" placeholder="Search...">
          <div class="input-group-btn">
            <button class="btn btn-primary" (click)="toggleSearchBar()"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/">Home <span class="sr-only">(current)</span></a></li>
        <li routerLinkActive="active"><a routerLink="contact-us">Contact Us</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop for<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngFor="let category of categories" routerLinkActive="active">
              <a routerLink="/{{category.path}}">{{category.name}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>