<div class="masthead">
  <div class="container">

    <div class="row">
      <a routerLink="/">
        <img src="assets/total uniforms logo.png">
      </a>
    </div>
  </div>
</div>
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a routerLink="about">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop for<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngFor="let category of categories">
              <a routerLink="/{{category.path}}">{{category.name}}</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" [hidden]="!showSearch">
          <input id="searchText" type="text" class="form-control col-lg-8" placeholder="Search...">
        </form>
        <li [hidden]="!showSearch">
          <a href="#" (click)="toggleSearchBar()">Go</a>
        </li>
        <li>
          <a href="#" (click)="toggleSearchBar()" [hidden]="showSearch">
            <span class="glyphicon glyphicon-search">
            <span class="sr-only">Search...</span>
            </span>
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>