.thumb .thumb-image img, .thumb-details {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-top-right: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.thumb {
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
    margin: 0px;
    text-shadow: none;
    padding: 0px;
    vertical-align: top;
    border: none;
    background: #2a2a2a;
    border-bottom: 1px solid black;
    border-radius: 4px;
}

.thumb .thumb-info {
    padding: 0px 20px 0 15px;
}

.thumb .thumb-info .thumb-title .thumb-name h2 {
    padding: 0;
    font-size: 18px;
    line-height: 20px;

    margin-top: 5px;
    margin-bottom: 4px;

    color: white;
    font-weight: 600;
    letter-spacing: 0;
}

.thumb .thumb-info .thumb-title .thumb-cat {
    font-size: 11px;
    margin-bottom: 12px;
    letter-spacing: 0.25px;
    text-overflow: ellipsis;
    max-width: 360px;
    white-space: nowrap;
    overflow: hidden;
    color: #CCC;
}

.thumb:hover .thumb-info .thumb-title .thumb-name h2 a {
    text-decoration: none;
    /*color: #FD6CA3;*/
    color: orange;
}

.thumb .thumb-info .thumb-title .thumb-cat a {
    text-decoration: none;
    color: #999;
}

.thumb .thumb-image {
    width: 100%;
    height: auto;
    max-height: 200px;
    top: 0;
    z-index: 500;
    overflow: hidden;
}

.thumb {
    opacity: 0.80;
}

.thumb:hover {
    opacity: 1;
}

.thumb .thumb-image img:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    -moz-transform: scale(1.02) rotate(0.02deg);  
}

.thumb .thumb-image img {
    width: 101%;
}

.thumb, .thumb .thumb-image img {    
    -webkit-transition: 1s;
    transition: 1s;
}

.thumb:hover, .thumb .thumb-image img:hover {
    -webkit-transition: .2s;
    transition: .2s;
}

.thumb h2 a:visited, .thumb h2 a {
  color: white;
}

.thumb .thumb-image {
  overflow: hidden;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border: none;
  position: relative;
}

.thumb {
    font-family: "proxima-nova", Arial, sans-serif;
    width: 100% !important;
}

.featured-image {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  background-position: 50%;
  -webkit-background-size: cover cover;
          background-size: cover;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s ease;
          transition: transform 0.3s ease;
}

.zoom .featured-image-link {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.zoom .featured-image-link:hover .featured-image, .zoom .featured-image-link:active .featured-image, .zoom .featured-image-link:focus .featured-image {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -moz-transform: scale(1.05) rotate(0.02deg);
}

.thumb-title {
    text-align: left;
    
    .h4, .h5, .h6, h4, h5, h6 {
        margin-top: 0px;
        margin-bottom: 0px;
    }    
}